<!DOCTYPE html>
<html>
<head>
  <title>Crawler</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAcTpxDSBv4NMZ7frCx5hN5W1By6wDwEvE"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
